<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>TAMBAH POST</h4>
                        <hr>

                           <form @submit.prevent="addProduct">
                            <div class="form-group">
                                <label for="title" class="font-weight-bold">TITLE</label>
                                <input type="text" class="form-control" v-model="products.title" placeholder="Masukkan Judul Post">
                            </div>
                            <div class="form-group">
                                <label for="content" class="font-weight-bold">DESCRIPTION</label>
                                <textarea class="form-control" rows="4" v-model="products.description" placeholder="Masukkan Konten Post"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">SIMPAN</button>
                        </form>                     

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'

export default {
    name: 'datatablecreate',
    setup() {

        //state posts
        const products = reactive({
            title: '',
            description: '',
            
        })


        //vue router
        const router = useRouter()

        //method store
        function addProduct() {

            let title   = products.title
            let description = products.description

            axios.post('https://dummyjson.com/products/add', {
                title: title,
                description: description
            }).then(() => {

                //redirect datatable
                router.push({
                    name: 'datatable'
                })
                console.log('Berhasil Broo')
            }).catch(error => {
               console.log(error)
            })

        }

        //return
        return {
            products,
            router,
            addProduct
        }

    }

}
</script>

<style>
    body{
        background: lightgray;
    }
</style>