<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>DATA PRODUCT</h4>
                        <hr>
                         <router-link :to="{name: 'datatablecreate'}" class="btn btn-md btn-primary">TAMBAH POST</router-link>
                        <table class="table table-striped table-bordered mt-4">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">TITLE</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">OPTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr v-for="(product, index) in products" :key="index">
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.description }}</td>
                                    <td class="text-center">
                                        <router-link :to="{name: 'datatableedit', params:{id: product.id }}" class="btn btn-sm btn-success">EDIT</router-link>
                                       <button @click.prevent="productsDelete(product.id)" class="btn btn-sm btn-danger mt-1">DELETE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { ref, onMounted } from "vue";
import axios from 'axios'

export default {
      name: 'datatable',
      setup() {
    const products = ref(null);
    const loading = ref(true);
    const error = ref(null);

    function fetchData() {
      loading.value = true;
      // I prefer to use fetch
      // you can use use axios as an alternative
      return fetch("https://dummyjson.com/products", {
        method: "get",
        headers: {
          "content-type": "application/json",
        },
      })
        .then((res) => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then((json) => {
          // set the response data
          products.value = json.products;
        })
        .catch((err) => {
          error.value = err;
          // In case a custom JSON error response was provided
          if (err.json) {
            return err.json.then((json) => {
              // set the JSON response message
              error.value.message = json.message;
            });
          }
        })
        .then(() => {
          loading.value = false;
        });
    }
    function productsDelete(id) {
            
   //delete data post by ID
   axios.delete(`https://dummyjson.com/products/${id}`)
   .then(() => {
              
       //splice posts 
       products.value.splice(products.value.indexOf(id), 1);
    console.log('Delete Success')
    }).catch(error => {
        console.log(error)
    })

}
    onMounted(() => {
      fetchData();
    });
    return {
      products,
      loading,
      error,
      productsDelete
    };
  },
}
</script>