<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>EDIT POST</h4>
                        <hr>

                        <form @submit.prevent="update">
                             <div class="form-group">
                                <label for="title" class="font-weight-bold">TITLE</label>
                                <input type="text" class="form-control" v-model="products.title" placeholder="Masukkan Title Product">
                            </div>
                            <div class="form-group">
                                <label for="content" class="font-weight-bold">DESCRIPTION</label>
                                <textarea class="form-control" rows="4" v-model="products.description" placeholder="Masukkan Description Product"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">SIMPAN</button>
                        </form>                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import axios from 'axios'

export default {
    name : 'datatableedit',
    setup() {

        const products = reactive({
            title: '',
            description: '',
            
        })


        //vue router
        const router = useRouter()

        //vue router
        const route = useRoute()

        //mounted
        onMounted(() => {

            //get API from Laravel Backend
            axios.get(`https://dummyjson.com/products/${route.params.id}`)
            .then(response => {
              console.log(response.data)
              //assign state posts with response data
              products.title    = response.data.title  
              products.description  = response.data.description  

            }).catch(error => {
                console.log(error)
            })

        })

        //method update
        function update() {

            let title   = products.title
            let description = products.description

            axios.put(`https://dummyjson.com/products/${route.params.id}`, {
                title: title,
                description: description
            }).then(() => {

                //redirect ke post index
                 router.push({
                    name: 'datatable'
                })

            }).catch(error => {
                //assign state validation with error 
                console.log(error)
            })

        }

        //return
        return {
            products,
            router,
            update
        }

    }

}
</script>

<style>
    body{
        background: lightgray;
    }
</style>