<template>
  <Navbar/>
  <Products/>
</template>

<script>
import Navbar from './organism/Navbar.vue';
import Products from './organism/Products.vue';

export default {
      name: 'Home',
    components: {
    Navbar,
    Products
}
}
</script>

<style>

</style>