<template>
  <Navbar />
  <div class="container mt-5">
    <div class="row">
     <div class="col-lg-4 mb-3" v-for="post in posts" :key="post.id">
          <div class="card shadow-lg">
            <div class="card-header">
              {{ post.title }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="text-truncate">{{ post.body }}</p>
                <footer class="blockquote-footer">
                  {{ post.tags.join(",") }}
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import Navbar from "./organism/Navbar.vue";
export default {
    name: 'posts',
      components: {
    Navbar,
  },
     setup() {
    const posts = ref(null);
    const loading = ref(true);
    const error = ref(null);
    function fetchDataPosts() {
      loading.value = true;
      // I prefer to use fetch
      // you can use use axios as an alternative
      return fetch("https://dummyjson.com/posts", {
        method: "get",
        headers: {
          "content-type": "application/json",
        },
      })
        .then((res) => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then((json) => {
          // set the response data
          posts.value = json.posts;
        })
        .catch((err) => {
          error.value = err;
          // In case a custom JSON error response was provided
          if (err.json) {
            return err.json.then((json) => {
              // set the JSON response message
              error.value.message = json.message;
            });
          }
        })
        .then(() => {
          loading.value = false;
        });
    }
   
    onMounted(() => {
      fetchDataPosts();
    });
    return {
      loading,
      posts,
      error,
    };
  },
};
</script>
<style></style>
