<template>
  <Navbar />
  <div class="container">
    <div class="profile-item">
      <div class="row">
        <div class="col-lg-4"  v-for="author in authors" :key="author.id">
        <div class="card  shadow-lg mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img :src="author.image" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{author.firstName}} {{author.lastName}}</h5>
                <p class="card-age">
                  Age : {{author.age}}
                </p>
                <p class="card-birthday">
                  Birth Date : {{author.birthDate}}
                </p>
                <p class="card-blood">
                  Blood Group : {{author.bloodGroup}}
                </p>
                <p class="card-university">
                  University : {{author.university}}
                </p>
                <p class="card-text">
                  Domain : <small class="text-muted"> {{author.domain}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-4 mb-3" v-for="post in posts" :key="post.id">
          <div class="card">
            <div class="card-header">
              {{ post.title }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="text-truncate">{{ post.body }}</p>
                <footer class="blockquote-footer">
                  {{ post.tags.join(",") }}
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import Navbar from "./organism/Navbar.vue";

export default {
  name: "Profile",
  components: {
    Navbar,
  },
  setup() {
    const authors = ref(null);
    const posts = ref(null);
    const loading = ref(true);
    const error = ref(null);
    function fetchDataPosts() {
      loading.value = true;
      // I prefer to use fetch
      // you can use use axios as an alternative
      return fetch("https://dummyjson.com/posts", {
        method: "get",
        headers: {
          "content-type": "application/json",
        },
      })
        .then((res) => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then((json) => {
          // set the response data
          posts.value = json.posts;
        })
        .catch((err) => {
          error.value = err;
          // In case a custom JSON error response was provided
          if (err.json) {
            return err.json.then((json) => {
              // set the JSON response message
              error.value.message = json.message;
            });
          }
        })
        .then(() => {
          loading.value = false;
        });
    }
    function fetchDataProfile() {
      loading.value = true;
      // I prefer to use fetch
      // you can use use axios as an alternative
      return fetch("https://dummyjson.com/users", {
        method: "get",
        headers: {
          "content-type": "application/json",
        },
      })
        .then((res) => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then((json) => {
          // set the response data
          authors.value = json.users;
        })
        .catch((err) => {
          error.value = err;
          // In case a custom JSON error response was provided
          if (err.json) {
            return err.json.then((json) => {
              // set the JSON response message
              error.value.message = json.message;
            });
          }
        })
        .then(() => {
          loading.value = false;
        });
    }
    onMounted(() => {
      fetchDataProfile();
      fetchDataPosts();
    });
    return {
      authors,
      loading,
      posts,
      error,
    };
  },
};
</script>

<style scoped>
.profile-item {
  margin-top: 3.128rem;
}
</style>
