<template>
  <nav class="navbar navbar-expand-lg navbar-light shadow-lg">
  <div class="container">
    <a class="navbar-brand" href="#">VueJs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <router-link :to="{name: 'home'}" class="nav-link" ><span>Home</span></router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Datatable</a>
        </li>
        <li class="nav-item">
         <router-link :to="{name: 'profile'}" class="nav-link" >Author</router-link>
        </li>
            <li class="nav-item">
         <router-link :to="{name: 'posts'}" class="nav-link" >Posts</router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>