<template>
  <div class="container">
    <div class="products-item" v-if="!loading && data && data.length">
      <div class="row">
        <div class="col-lg-3 mt-4" v-for="product in data" :key="product.id">
          <div class="card shadow-lg rounded-3" style="width: 18.5rem">
            <div class="wrapper-image">
              <img
                :src="product.thumbnail"
                class="img-products"
                alt="products image"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-price text-danger text-decoration-line-through">
                Price : {{ product.price }}$
              </p>
              <p class="card-text text-truncate">
                {{ product.description }}
              </p>
              <p class="card-stock text-success fw-bolder">
                Stock : {{ product.stock }}
              </p>
              <h5 class="card-discount fw-bolder">
                Price Discount :
                {{Math.round(
                  product.price -
                  product.price * (product.discountPercentage / 100)
                )}}$
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { ref, onMounted } from "vue";

export default {
  setup() {
    const data = ref(null);
    const loading = ref(true);
    const error = ref(null);

    function fetchData() {
      loading.value = true;
      // I prefer to use fetch
      // you can use use axios as an alternative
      return fetch("https://dummyjson.com/products", {
        method: "get",
        headers: {
          "content-type": "application/json",
        },
      })
        .then((res) => {
          // a non-200 response code
          if (!res.ok) {
            // create error instance with HTTP status text
            const error = new Error(res.statusText);
            error.json = res.json();
            throw error;
          }

          return res.json();
        })
        .then((json) => {
          // set the response data
          data.value = json.products;
        })
        .catch((err) => {
          error.value = err;
          // In case a custom JSON error response was provided
          if (err.json) {
            return err.json.then((json) => {
              // set the JSON response message
              error.value.message = json.message;
            });
          }
        })
        .then(() => {
          loading.value = false;
        });
    }
    onMounted(() => {
      fetchData();
    });
    return {
      data,
      loading,
      error,
    };
  },
};
</script>

<style scoped>
.wrapper-image img {
  width: 18.4rem;
  height: 10rem;
  object-fit: cover;
  overflow: hidden;
}
p,
h5 {
  margin: 0;
  margin-top: 5px;
}
p.card-price {
  font-size: 1.2rem;
  font-weight: 500;
}
h5.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}
h5.card-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
h5.card-discount {
  color: rgb(0, 0, 0);
  font-weight: 800;
}
</style>
